* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', Courier, monospace;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* @ NAVBAR */

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid rgb(71, 27, 167);
  padding: 1.5rem;
}

header a.active {
  color: white;
  background-color: rgb(71, 27, 167);
}